In [4]:
import pandas as pd
from app.config import DATA_DIR

In [5]:
transactions = pd.read_csv(DATA_DIR / "transactions.csv")

In [6]:
transactions.columns

Index(['Transaction code', 'Date', 'Amount', 'Balance', 'Type', 'Direction',
       'Account ID', 'Account Name', 'Original Transaction'],
      dtype='object')

In [468]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2916 entries, 0 to 2915
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Transaction code      2916 non-null   object
 1   Date                  2916 non-null   object
 2   Amount                2916 non-null   float64
 3   Balance               2916 non-null   float64
 4   Type                  2916 non-null   object
 5   Direction             2916 non-null   object
 6   Account ID            2916 non-null   object
 7   Account Name          2916 non-null   object
 8   Original Transaction  2702 non-null   object
dtypes: float64(2), object(7)
memory usage: 205.2+ KB

### Total Cash Flow Through MPESA

#### Amount of money received in the whole period

In [469]:
transactions[transactions.Direction == "In"]["Amount"].sum()

np.float64(1647105.63)

#### Amount of money sent in the whole period

In [470]:
transactions[transactions.Direction == "Out"]["Amount"].sum()

np.float64(1623798.52)

In [471]:
w_charges = set(transactions.loc[transactions["Type"] == "Withdrawal Charges"]["Transaction code"])
w_transactions = set(transactions.loc[transactions["Type"] == "Withdraw Money"]["Transaction code"])

In [472]:
w_transactions - w_charges

{'RLT3J51QM5',
 'SA31XJC949',
 'SA34ZPQ7F6',
 'SA38ZT179W',
 'SAG8712COW',
 'SAM9RFGF15',
 'SAP43IMT20',
 'SAV8MTMJHO',
 'SB6585N3GZ',
 'SB85H1NPY5',
 'SB85H4ZOBJ',
 'SBA2OGIAN6',
 'SBE523V0YF',
 'SBJ4JC7BQY',
 'SBL5S4I4P1',
 'SBP64T0XDC',
 'SBR6D2SLAW',
 'SC24S2FR2K',
 'SCD6WNPG5A',
 'SCI9DPHYAZ',
 'SCK7KSMPON',
 'SCN1X9UVOJ',
 'SCT6ISFIPW',
 'SD28VL8346',
 'SD83IH4M2P',
 'SDA5QIXVVB',
 'SDC1Y6FYU7',
 'SDH3GL2ADB',
 'SDH9FHWNRF',
 'SE11V2X6OZ',
 'SE321W77NC',
 'SE53AXRUFX',
 'SE69CO6TNP',
 'SEK9TQDVV9',
 'SEV2ZW893K',
 'SF57H2DF0P',
 'SF70PQPR0M',
 'SFF4KWSU0E',
 'SFT6ZF5N1C',
 'SG60SBMK7W',
 'SGB1B6QOMR',
 'SGK49XFA6Q',
 'SH35SLZXZ3',
 'SHH9D7QZ8P',
 'SI77QS6IYP',
 'SIC4DO4T8Q',
 'SIF0P2YZ3G',
 'SIM7HOB70D',
 'SJ36RZCW28',
 'SJE11PLX47',
 'SJL6WDE1NI',
 'SKJ8D30MX2',
 'SKN0UTG8NY',
 'SKS6ENJ6HC',
 'SL52BH3O4I',
 'SL63H877QN',
 'SLD6DDXRGY',
 'SLH8RHW7I2',
 'SLN4JR53ZK'}

In [473]:
transactions.loc[transactions["Type"] == "Withdraw Money"].shape

(59, 9)

In [474]:
transactions.Type.unique()

array(['Send money', 'Safaricom Charges', 'Paybill', 'Receive money',
       'Pochi la Biashara', 'Airtime', 'Buy Goods', 'Withdraw Money',
       'M-Shwari Loan', 'Receive money from bank/org',
       'International Money Transfer Sent',
       'International Money Transfer Receipt', 'Deposit Cash',
       'No description', 'Reversal', 'M-Shwari'], dtype=object)

In [475]:
transactions["Account ID"].unique()

array(['07******374', 'Safaricom', '888880', '2547******189',
       '07******564', '2547******383', '2547******886', '2547******634',
       '07******007', '07******500', '2547******686', '6212558',
       '07******603', '2547******865', 'Agent Till 163608', '6419322',
       '7766630', '5335416', '2547******834', '2547******467',
       '2547******653', 'Agent Till 603749', '7310394', '2547******599',
       '130341', '2547******730', '07******841', '2547******301',
       '2547******139', '2547******543', '644028', '2547******818',
       '2547******506', '07******906', '2547******617', '5128456',
       '07******258', '522533', '2547******802', '2547******101',
       '2547******616', '2547******341', '2547******282', '2547******450',
       '07******242', '255255', '2547******018', 'Agent Till 750403',
       '07******249', '7693694', '522522', '2547******673', '07******401',
       '2547******912', '2547******737', '2547******520', '07******772',
       '07******151', '8045243', '2547******367', '2547******947',
       '2547******363', '07******698', '07******650', 'Agent Till 163221',
       '5428754', '6740409', '4090833', '300600', '3036635',
       'Agent Till 636443', '07******706', '07******439', '07******471',
       '07******867', '6747519', '2547******944', '2547******688',
       '07******294', '2547******212', '07******595', '6721481',
       '07******566', '515026', '07******143', '2547******548',
       '07******048', '2547******195', '866528', '2547******810',
       '2547******660', '2547******983', '2547******001', '2547******162',
       '2547******939', '2547******412', '07******479', '07******680',
       '07******561', '2547******463', '2547******094', '5116590',
       '07******036', '558635', '2547******185', '07******351',
       '2547******647', '07******705', '2547******846', '2547******549',
       'Agent Till 489008', '07******715', '2547******141',
       '2547******537', '2547******761', '7977520', '2547******414',
       '7434091', '07******204', '2547******059', '07******445',
       '2547******183', '7288481', '2547******729', '247247', '5448824',
       '2547******167', '2547******087', '2547******808',
       'Agent Till 226033', '2547******063', '07******046', 'Customer',
       '2547******259', '2547******240', '661530', '07******683',
       '07******096', '2547******318', '07******501', '07******835',
       '01******087', 'Agent Till 2157085', '2547******630',
       '2547******043', '4120463', '7629439', '2547******326', '859551',
       '6516530', '2547******774', '07******822', '2547******121',
       '4093275', '07******077', '07******053', '2547******881',
       '7067197', '2547******610', '6650861', '07******099',
       '2547******969', '2547******734', '2547******909', '07******948',
       '01******926', '07******402', '2547******137', '220333', '583373',
       '2547******956', '2547******053', 'yaya', '2547******283',
       '07******183', '2547******145', '2547******321', '6257937',
       '2547******441', '2547******281', '6491893', '07******312',
       '7920152', '07******774', '840020', '295028', '07******557',
       '2547******696', '541400', '222111', '2547******264',
       '2547******590', '2547******821', '07******974', '6739194',
       '2547******868', '2547******755', '2547******963', '2547******055',
       '859528', '2547******163', '2547******153', 'Agent Till 410051',
       '604986', '6648072', '7398269', '07******701', '2547******144',
       '2547******919', '244441', '2547******255', '400200',
       '2547******902', '2547******207', '2547******871', '2547******285',
       '2547******671', '2547******308', '07******764', '2547******332',
       '480587', '113791', '07******610', '07******538', '07******108',
       '2547******454', '2547******849', 'Agent Till 041049',
       '2547******118', '2541******789', '07******729', '7004783',
       '2547******260', '07******750', '6854741', '6678217',
       '07******686', '07******935', '2547******278', '07******617',
       '2547******612', '01******077', '07******028', '07******868',
       '2547******782', '2547******395', '01******114', '2547******570',
       '2547******741', '959959', '2547******843', '07******677',
       '2547******275', '07******173', '2547******196', '07******065',
       '07******427', '2547******580', '2547******967', '2547******701',
       '2547******166', '2547******799', '809719', '2547******844',
       '6788958', '2547******783', '07******198', '2547******706',
       '2547******008', '07******933', '07******186', '2547******215',
       '2547******767', '07******032', '2547******738', '2547******883',
       '2547******440', '8022127', '7734180', '7941095', '2547******294',
       '7203691', '2541******679', '07******631', '2547******641',
       '2547******508', 'Agent Till 235466', '07******943', '07******628',
       '2547******936', '2547******351', '07******058', '07******000',
       '2547******476', '5140386', '2547******611', '2547******267',
       '6900205', '2547******975', '137145', '2547******639',
       '2547******682', '7344581', 'Agent Till 362920', '2547******083',
       '6356029', 'Agent Till 028287', '2547******681', '07******464',
       '07******266', '07******381', '6300301', '2547******460',
       '2547******295', '2547******900', '07******276', '07******546',
       '6349839', 'Agent Till 050423', '2547******649', '2547******429',
       '7315052', '501901', '2547******679', '826915', '2547******731',
       '07******590', '6862291', '01******222', '07******787',
       '2547******842', '5002460', '7036719', '192128', '119497',
       '2547******985', '2547******727', '6382460', '2547******376',
       '2547******075', '07******728', '07******673', '2547******614',
       '2547******928', '2547******836', '7822614', '2547******658',
       '5039692', '01******045', '2547******661', '07******086',
       '07******921', '7743576', '2547******009', '07******330',
       '2547******693', '2547******884', '6780877', '7855282',
       '07******378', '2547******705', '07******889', '2547******499',
       '5127944', '07******447', '888888', '5084394', '2547******157',
       '7596339', '7104480', '07******145', '972018', '07******897',
       '222222', 'Agent Till 2001227', '7116013', '151261', '7973094',
       '2541******207', '6740413', '2547******105', '838225', '754951',
       '2547******198', '07******842', '2547******848', '174379',
       '2547******832', '01******763', '07******025', '2547******622',
       '7865067', '719597', '2547******316', '6227790', '2547******027',
       '2547******025', '716163', '07******240', '07******469',
       '01******573', '2547******995', '4267868', '01******760',
       '2547******136', '7049337', '2547******489', '590789',
       '2547******613', '2547******889', '2547******048', '07******981',
       '2547******723', '01******302', 'Agent Till 236039',
       '2547******390', '2547******090', '2547******866', '2547******742',
       '6171720', '07******069', '2547******439', '2547******248',
       '2547******567', '07******122', '07******150', '07******691',
       '07******651', '2547******560', '2547******812', '07******124',
       '07******788', 'Agent Till 169859', '2547******819',
       '2547******050', '6401101', '2547******438', '07******937',
       '2541******337', 'Agent Till 2027426', '2547******100',
       '07******899', '6491892', '2547******575', '6392780',
       '2547******040', '2547******979', '2547******453', '876836',
       '6403545', '2547******867', '6318259', '6710441', '07******137',
       '2547******725', '07******354', 'The', '2547******223',
       '2547******270', '07******001', '2547******744', '07******768',
       '303031', '07******960', '7293657', '07******449', '01******985',
       '2547******254', '07******233', '07******319', '07******801',
       '6296593', '6084569', 'Agent Till 038433', '2547******690',
       '2547******595', '2547******650', '07******140', '07******433',
       '07******326', '5002461', '2547******732', '2547******431',
       '07******310', '07******726', '07******869', '07******244',
       '07******295', '07******290', '07******757', '2547******310',
       '07******393', 'Agent Till 423008', '2547******471', '07******559',
       '925856', '2547******572', '2547******517', '07******511',
       '2547******369', '2547******234', '07******405', '07******562',
       'Business 323293', '07******587', '718657', '07******613',
       '167159', '07******709', '07******865', 'Agent Till 392699',
       '07******063', '2547******241', '2547******003', '7053089',
       '2547******160', '2547******017', '07******582', '2547******156',
       '2547******092', '2547******625', '2547******158', '07******118',
       '2547******805', '2547******466', '2547******825', '2547******631',
       '6385321', '2547******905', '07******578', '7525101',
       '07******762', '2547******915', '2547******752', '2547******032',
       '07******182', '2547******502', '2547******491', '7053095',
       '7924662', '07******526', '07******766', '6563266',
       '2547******670', '07******755', '6810373', '07******213',
       '2547******550', '7097831', '2547******712', '630640', '339888',
       '6072546', '2547******720', '303574', '07******604',
       '2547******404', '7362068', '07******404', '942237', '7062246',
       '07******495', 'Agent Till 382414', 'Agent Till 365145',
       '07******659', '7527036', 'Agent Till 104403', '07******653',
       '07******282', '01******484', '2547******220', '01******944',
       '2547******262', '07******421', '2547******213', '07******502',
       '07******264', '843969', 'Agent Till 280988', '2547******361',
       'Agent Till 041889', 'Agent Till 3000942', '2547******051',
       '2547******134', '7657197', '07******600', '2547******778',
       '2547******128', '689974', 'Agent Till 028249',
       'Agent Till 038417', '2547******179', '4194792', '2547******322',
       '2547******377', 'Agent Till 137826', '6127327', '7882456',
       '7662378', '2547******781', '6782263', '7930669', '2541******088',
       '303030', '2547******565', '07******583', 'Agent Till 256492',
       '07******364', '2547******584', '7527617', '07******688',
       '7302152', '07******406', '07******317', '07******926',
       'Agent Till 193830', '852648', '07******154', '01******675',
       '2547******249', '987550', '7380473', 'Agent Till 2016445',
       '2547******899', '2547******005', '01******127', '824941',
       '2547******358', '07******408', '2547******657', '2547******623',
       '01******884', 'Westgate', '2547******505', '7016794',
       '2547******717', '2547******966', '07******039', '2547******603',
       '2547******252', '2547******333', 'Agent Till 3000865',
       '07******738', '2547******190', '2547******495', '2547******638',
       '07******413', '2547******672', '2547******500', '2547******770',
       '6184470', '2547******180', '2547******031', '01******663',
       '2547******927', '01******397', '2547******924', '2547******689',
       '2547******056', '7750184', '779959', '180175',
       'Agent Till 367621', '2547******514', '276663', '7099197',
       '07******072', '6250913', '2547******644', '7046086', '780802',
       'Agent Till 116450', '07******880', '2547******447', '4122759',
       'Agent Till 089435', '2547******918', '07******485',
       '2547******746', 'Agent Till 459355', '2547******371',
       '2547******357', '2547******344', '2547******067', '7127496',
       '07******409', '2547******577', '07******629', '7528049', '504528',
       'K&A', '2547******205', '7847604', '7056958', '2547******405',
       'Agent Till 437057', 'Agent Till 370020', 'Agent Till 361607',
       '2547******311', '6108159', '2547******955', '2547******461',
       '07******519', '6305362', '748658', '2547******014', '847092',
       '784398', '197788', '2547******785', '6023631', '6189019',
       'Agent Till 391746', '01******510', '7598104', '07******293',
       '7266573', 'Agent Till 089456', '2547******743', '2547******396',
       '2547******942', '6373534', '2547******272', '817600', '175145',
       '2547******024', '07******656', '2547******887', '2547******872',
       '542542', '2547******402', '2547******110', '01******347',
       '2547******736', '2547******576', '7682059', '2547******525',
       '7646487', 'Agent Till 385482', 'Agent Till 078247',
       'Agent Till 417479'], dtype=object)

In [476]:
transactions[transactions["Date"]>"2024-12-12"]

,Transaction code,Date,Amount,Balance,Type,Direction,Account ID,Account Name,Original Transaction
0,SLS85T3UIS,2024-12-28 17:14:15,50.0,9573.02,Send money,Out,07******374,Kevin Kuya,Customer Transfer to - 07******374 Kevin Kuya
1,SLR73F2QIX,2024-12-27 22:56:45,5.0,9623.02,Safaricom Charges,Out,Safaricom,Safaricom,Pay Bill Charge
2,SLR73F2QIX,2024-12-27 22:56:45,300.0,9628.02,Paybill,Out,888880,KPLC PREPAID Acc. 54607518138,Pay Bill Online to 888880 - KPLC PREPAID Acc. ...
3,SLR93EZMK5,2024-12-27 22:55:21,330.0,9928.02,Receive money,In,2547******189,HANNAH KAMAU,Funds received from - 2547******189 HANNAH KAMAU
4,SLP0TLJO9S,2024-12-25 17:26:22,30.0,9598.02,Pochi la Biashara,Out,07******564,fred kingoina,Customer Payment to Small Business to - 07****...
...,...,...,...,...,...,...,...,...,...
99,SLC87UTG74,2024-12-12 16:45:03,5.0,498.02,Safaricom Charges,Out,Safaricom,Safaricom,Pay Bill Charge
100,SLC87UTG74,2024-12-12 16:45:03,300.0,503.02,Paybill,Out,522522,KCB Paybill AC Acc. 7551712,Pay Bill to 522522 - KCB Paybill AC Acc. 7551712
101,SLC87U60Q4,2024-12-12 16:40:40,225.0,803.02,Buy Goods,Out,7766630,JANE NYOKABI KINGORI,Merchant Payment to 7766630 - JANE NYOKABI KIN...
102,SLC67T08D4,2024-12-12 16:32:50,20.0,1028.02,Airtime,Out,Safaricom,Safaricom,Airtime Purchase
103,SLC37PU68R,2024-12-12 16:10:41,1000.0,1048.02,Receive money from bank/org,In,5335416,Andrew Kamau Kimani,Receive funds from 5335416 - Andrew Kamau Kimani

In [477]:
transactions.Type.unique()

array(['Send money', 'Safaricom Charges', 'Paybill', 'Receive money',
       'Pochi la Biashara', 'Airtime', 'Buy Goods', 'Withdraw Money',
       'M-Shwari Loan', 'Receive money from bank/org',
       'International Money Transfer Sent',
       'International Money Transfer Receipt', 'Deposit Cash',
       'No description', 'Reversal', 'M-Shwari'], dtype=object)

In [478]:
transactions.Type.unique()

array(['Send money', 'Safaricom Charges', 'Paybill', 'Receive money',
       'Pochi la Biashara', 'Airtime', 'Buy Goods', 'Withdraw Money',
       'M-Shwari Loan', 'Receive money from bank/org',
       'International Money Transfer Sent',
       'International Money Transfer Receipt', 'Deposit Cash',
       'No description', 'Reversal', 'M-Shwari'], dtype=object)

In [479]:
transactions[transactions["Type"]=="Airtime"]["Account Name"].unique()

array(['Safaricom'], dtype=object)

In [482]:
transactions.loc[(transactions["Type"] == 'Withdraw Money') & (transactions["Direction"]=="Out"),["Amount","Account Name"]].groupby('Account Name',group_keys=False).sum().nlargest(10,"Amount")

                                                     Amount
Account Name
Comet Cyber Sleeping Beauty                         29500.0
CORAL LAND TKEY 2 EXTREME KIWHA B CENTRE NGARA RD    5900.0
Pure Logics Deutro shop Muindi KENYATTA AVENUE       5000.0
Bizarre link Ltd Tuikut Market Westgate Shop Agg     4500.0
Copam Enterprises Belleza Beauty Point Accra Rd...   4000.0
Isotech Interconnections Sagret Hotel EXT            3000.0
Visina Enter Jb Investments Shop Kitale Agg          2500.0
Willas Construction Co LtdCORNER SHOP DAGORETTI...   2050.0
Danico Comm Waken Shop Mutuini Shopping centre agg   2000.0
Latest Communication Meru Stage                      1700.0

In [484]:
transactions.loc[(transactions["Type"] == "Receive money") & (transactions["Direction"]=="In"),["Amount","Account Name"]].groupby('Account Name',group_keys=False).sum().nlargest(10,"Amount")

                                            Amount
Account Name
HANNAH KAMAU                               77030.0
SALIM MWACHIDZUGA                          45680.0
ABIGAEL JEPKOSGEI                          45660.0
JOAN MUOKI                                 45615.0
ANN WASILWA                                45580.0
IDA ONYANGO                                45500.0
ZIMELE UNIT TRUST - FIXED INCOME FUND B2C  35500.0
PATRICIA KIMANI                            32000.0
casmir maturi                              32000.0
Edwin Kabue                                31798.0

In [481]:
transactions.loc[(transactions["Direction"]=="In") & (transactions["Account Name"] == "Safaricom")]

,Transaction code,Date,Amount,Balance,Type,Direction,Account ID,Account Name,Original Transaction
23,SLN3JLO97X,2024-12-23 14:45:06,0.0,2995.02,M-Shwari Loan,In,Safaricom,Safaricom,M-Shwari Loan Request
24,SLN6JLO16K,2024-12-23 14:45:06,2955.0,2995.02,M-Shwari Loan,In,Safaricom,Safaricom,M-Shwari Loan Disburse
829,SI68OT24RC,2024-09-16 11:13:38,2.0,2816.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
830,SI63OT5W7L,2024-09-16 11:13:34,1.0,2814.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
831,SI62OT680K,2024-09-16 11:13:34,1.0,2813.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
992,SHO95RXJ4L,2024-08-24 22:41:26,75.0,11388.30,Airtime,In,Safaricom,Safaricom,Customer Bundle Purchase Reversal
1075,SHE7ZCTWCH,2024-08-16 11:27:14,1.0,10619.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1076,SHE5ZCU0DF,2024-08-16 11:27:07,1.0,10618.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1077,SHE6ZCU0AE,2024-08-16 11:24:08,1.0,10617.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1078,SHE8ZCU0DI,2024-08-16 11:11:21,1.0,10616.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1079,SHE4ZCU0D4,2024-08-16 11:11:20,1.0,10615.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1080,SHE0ZCTVF8,2024-08-16 11:11:16,1.0,10614.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1081,SHE9ZCU2JL,2024-08-16 11:09:53,1.0,10613.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1082,SHE1ZCU2JD,2024-08-16 11:09:51,1.0,10612.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1083,SHE1ZCU1SF,2024-08-16 11:09:51,1.0,10611.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1084,SHE1ZCTTLF,2024-08-16 11:09:51,2.0,10610.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1085,SHE6ZCTV6S,2024-08-16 11:09:50,1.0,10608.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1086,SHE1ZCTTNN,2024-08-16 11:09:49,1.0,10607.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1087,SHE9ZCU1YH,2024-08-16 11:09:48,1.0,10606.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1088,SHE8ZCTZP2,2024-08-16 11:09:48,1.0,10605.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1089,SHE7ZCU6EF,2024-08-16 11:09:48,1.0,10604.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1090,SHE5ZCTV9T,2024-08-16 11:09:47,1.0,10603.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1091,SHE9ZCU2TL,2024-08-16 11:09:46,1.0,10602.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1092,SHE9ZCTZS5,2024-08-16 11:09:46,2.0,10601.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1093,SHE6ZCU0N6,2024-08-16 11:09:45,1.0,10599.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1094,SHE4ZCU2TQ,2024-08-16 11:09:45,1.0,10598.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1095,SHE0ZCTZS6,2024-08-16 11:09:45,1.0,10597.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1096,SHE4ZCTTNQ,2024-08-16 10:59:32,1.0,10596.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1097,SHE6ZCWIJ0,2024-08-16 10:59:23,1.0,10595.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1164,SH48XZ7I1E,2024-08-05 09:47:31,2.0,43134.30,No description,In,Safaricom,Safaricom,Pay Utility Reversal by Daraja- Sandbox\dkibagio
1679,SEM1ZZYCK5,2024-05-22 10:03:36,45137.0,67631.69,M-Shwari,In,Safaricom,Safaricom,M-Shwari Withdraw
1689,SEL3VWVSFB,2024-05-21 05:40:26,0.0,881.69,M-Shwari,In,Safaricom,Safaricom,M-Shwari Lock Withdraw to Savings
2766,SAM8R35W56,2024-01-22 15:13:55,0.0,2005.91,M-Shwari Loan,In,Safaricom,Safaricom,M-Shwari Loan Request
2767,SAM9R36233,2024-01-22 15:13:55,2000.0,2005.91,M-Shwari Loan,In,Safaricom,Safaricom,M-Shwari Loan Disburse

In [419]:
transactions.loc[(transactions["Type"] == "Send money") & (transactions["Direction"]=="Out"),["Amount","Party Details"]].groupby('Party Details',group_keys=False).sum().nlargest(20,"Amount")

                  Amount
Party Details
CLINTON OMBIRO   79500.0
Edwin Kabue      41805.0
SAMUEL MUKUI     30000.0
jane atemo       25600.0
VIOLET KABEI     25551.0
PAUL KAMAU       24158.0
DAISY MURIMI     10350.0
JOY NGUGI         7750.0
Lincoln Simiyu    6930.0
Olvan Ouma        6569.0
Rita Omondi       6400.0
HANNAH KAMAU      6000.0
CALVIN KAMAU      5545.0
Virginia Kamau    5285.0
Faith Kirigi      3700.0
Claudia kamau     3030.0
JOSEPH NDEGWA     3000.0
OLVAN OUMA        3000.0
LLOYD MUKONO      2508.0
DANIEL WANYOIKE   2500.0

In [420]:
transactions.loc[(transactions["Type"] == "Paybill") & (transactions["Direction"]=="Out"),["Amount","Party Details"]].groupby('Party Details',group_keys=False).sum().nlargest(10,"Amount")

                                             Amount
Party Details
MALI Acc. 0702605230_                      380963.0
M- PESA GLOBAL. Acc. 256773347169          116166.0
Equity Paybill Account Acc. 0702605230      51050.0
CAPE PROPERTIES VIA CO-OP Acc. NO2          48100.0
NETCOM FIBRE INTERNET LIMITED Acc. 532      17500.0
CAPE PROPERTIES VIA CO-OP Acc. gachie no2   16700.0
E- CITIZEN Acc. LMBQJWV                      9650.0
DELIGHTFUL FIBER LTD Acc. 7111               8000.0
GAB COLLECT Acc. 488888                      6000.0
Equity Paybill Account Acc. 0766212221       5850.0

In [421]:
transactions.loc[transactions["Type"] == "Send Money",["Amount","Party Details",'Account']].groupby(['Party Details','Account']).sum().nlargest(10,"Amount")

Empty DataFrame
Columns: [Amount]
Index: []

In [422]:
transactions.loc[transactions["Type"] == "Send money",["Amount","Party Details",'Account']].groupby(['Party Details','Account']).sum().nlargest(10,"Amount")

                               Amount
Party Details  Account
CLINTON OMBIRO 07******381    79500.0
Edwin Kabue    07******561    41805.0
SAMUEL MUKUI   2547******900  30000.0
jane atemo     07******186    25600.0
VIOLET KABEI   2547******053  25551.0
PAUL KAMAU     2547******137  17158.0
DAISY MURIMI   2547******549  10350.0
JOY NGUGI      2547******886   7750.0
PAUL KAMAU     2547******611   7000.0
Lincoln Simiyu 07******240     6930.0

In [487]:
transactions.loc[transactions["Direction"]== "In",["Account Name","Amount"]].groupby("Account Name").sum().nlargest(10,"Amount")

                                             Amount
Account Name
MALI. via API. Origin                      385614.0
Andrew Kamau Kimani                        121029.0
HANNAH KAMAU                                77030.0
Safaricom                                   50198.0
SALIM MWACHIDZUGA                           45680.0
ABIGAEL JEPKOSGEI                           45660.0
JOAN MUOKI                                  45615.0
ANN WASILWA                                 45580.0
IDA ONYANGO                                 45500.0
ZIMELE UNIT TRUST - FIXED INCOME FUND B2C   35500.0

In [490]:
transactions.loc[(transactions["Type"]=="Airtime")]

,Transaction code,Date,Amount,Balance,Type,Direction,Account ID,Account Name,Original Transaction
10,SLO1P0VEGF,2024-12-24 17:36:11,20.0,1758.02,Airtime,Out,Safaricom,Safaricom,Recharge for Customer to 4093441SAFARICOM DATA...
11,SLO6P0PSC6,2024-12-24 17:35:25,20.0,1778.02,Airtime,Out,Safaricom,Safaricom,Recharge for Customer to 4093441SAFARICOM DATA...
12,SLO5OLHTNL,2024-12-24 16:15:13,15.0,1798.02,Airtime,Out,Safaricom,Safaricom,Customer Bundle Purchase to 4093441SAFARICOM D...
14,SLO9O9UF33,2024-12-24 15:08:30,20.0,1913.02,Airtime,Out,Safaricom,Safaricom,Recharge for Customer to 4093441SAFARICOM DATA...
15,SLO5NUAKJD,2024-12-24 13:37:52,20.0,1933.02,Airtime,Out,Safaricom,Safaricom,Airtime Purchase
...,...,...,...,...,...,...,...,...,...
2892,SA34XJDQTY,2024-01-03 09:44:54,75.0,3015.66,Airtime,Out,Safaricom,Safaricom,Buy Bundles
2895,SA36XIJ0A6,2024-01-03 09:36:12,20.0,3619.66,Airtime,Out,Safaricom,Safaricom,Airtime Purchase
2896,SA10TJGY2A,2024-01-01 20:14:20,10.0,3639.66,Airtime,Out,Safaricom,Safaricom,Airtime Purchase
2904,RLU7NUTO5V,2023-12-30 23:01:54,75.0,337.66,Airtime,Out,Safaricom,Safaricom,Buy Bundles
2909,RLU0LA27AA,2023-12-30 09:53:47,20.0,65.66,Airtime,Out,Safaricom,Safaricom,Buy Bundles

                    Party Details   Amount
0  MUMBI HOUSEPHARMACEUTICALS LTD  84785.0
1           KHALIFA GREENSLIMITED  30000.0
2   TOWER PARIS LOUNGE ANDGRILL 1   8800.0
3     MUGUNA ANDU WHOLESALERLTD 7   8675.0
4                    HENRY SHOP 4   7345.0
5               NAIVAS MOI AVENUE   6494.0
6             IT'S MEATS PARADISE   5826.0
7       MK COCA COLA DISTRIBUTORS   4960.0
8         PARISLOUNGE AND GRILL 2   4850.0
9          BOLT FASHIONS & DESIGN   4800.0

In [136]:
transactions.loc[transactions["Type"] == "Buy Goods",["Party Details"]].groupby("Party Details").value_counts().nlargest(15)

Party Details
HENRY SHOP 4                                   48
NANCY NJERI MUIRURI                            34
STEPHEN GITAU                                  27
MUMBI HOUSEPHARMACEUTICALS LTD                 21
BANUUR         RESTAURANTHALAL         FOOD    11
BAMO CAFETERIA                                  9
EDMUND NDIMU                                    9
NAIVAS MOI AVENUE                               8
HASSAN HUSSAIN   ABDI                           7
IT'S MEATS PARADISE                             7
ONAIRES CATERERS -3                             6
SIZZLING METRO                                  6
KINGDONAIRE BUTCHERIES                          5
LUCY WAMBUI KARIUKI                             4
OASIS BREEZE                                    4
Name: count, dtype: int64